<div id="menu">
  <div class="pure-menu custom-restricted-width">
    <a class="pure-menu-heading" href="#">Redblock</a>

    <ul class="pure-menu-list">
      <li class="pure-menu-item">
        <a href="#" class="pure-menu-link">Home</a>
      </li>
      <li class="pure-menu-item">
        <a href="#" class="pure-menu-link">Sobre</a>
      </li>

      <!-- Seleção menu-item-divided pure-menu-selected -->
      <li class="pure-menu-item ">
        <a href="#" class="pure-menu-link">Serviços</a>
      </li>

      <li class="pure-menu-item">
        <a href="#" class="pure-menu-link">Contato</a>
      </li>

      <style>
        .button-xlarge {
          width: 150px;
        }
      </style>
      <button class="button-xlarge pure-button pure-button-primary">
        Sair
      </button>
    </ul>
  </div>
</div>
